


.tableau{
    
    background:#fff;
    width: 50%;
}

.tableautd,.tableau th{
    border:1px solid white;
}

.tableau th{
    BACKGROUND:#0da8e4;
    color:#fff;
    font-size:14px;
    padding:7px
}
table
{
margin: auto;
}
td
{
text-align :center;
}


.tableau tr{ 
     border:1px  solid ;
}

.tableau td{ 
    padding: 10px;
}
